{% extends 'base.html' %}
{% block title %}Fun Stuff{% endblock %}

{% block content %}
    <h1>Have some fun with the word {{ word }}...</h1>
    <p>word length: {{ word|length }}</p>
    <p>the uppercase version: {{ word|upper }}</p>
    <p>some characters replaced: {{ word|replace('lo', 'p') }}</p>
    <p>first letter: {{ word|first }}</p>
    <p>list of characters: {{ word|list }}</p>
    <p>in reverse: {{ word|reverse }}</p>
    <p>every other character: {{ word|every_other_letter }}</p>
    
    <a href='/go_home'>Enough fun! Go home.</a>    
{% endblock %}